<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <title>CRUD de Clientes</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- <script src="script.js"></script> -->
</head>

<body>
    <div class="container">
        <h1>Lista de Clientes</h1>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>UF</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3">Nenhum cliente cadastrado</td>
                </tr>
                <tr>
                    <td>Exemplo</td>
                    <td>Exemplo</td>
                    <td>Exemplo</td>
                    <td>
                        <button class="btn-editar">Editar</button>
                        <button class="btn-excluir">Excluir</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4"><a href="/add"><button type="button">Novo</button></a></td>
                </tr>
            </tfoot>
        </table>
    </div>
</body>

</html>